:root {
  --main-bg-color: #3b3d3d;
  --second-bg-color: #282626;
  --txt-color: #49cab0;
}

body {
  height: 100%;
  margin-bottom: 20rem;
  clear: both;
	background-color: var(--main-bg-color);
  font-family: 'Trebuchet MS', sans-serif;
}

main {
  margin: 0rem;
  padding: 0.5rem;
  background-color: var(--main-bg-color);
}

header {
  padding: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  background-color: var(--second-bg-color);
  color: var(--txt-color);
}

button {
  background-color: var(--second-bg-color);
  border-color: var(--txt-color);
  color: var(--txt-color);
  padding: clamp(0.5rem, 1vw, 1.5rem);
  width: clamp(8.2rem, 15vw, 20rem);
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: clamp(1rem, 1.5vw, 2rem);
  border-radius: 0.8rem;
  transition-duration: 0.4s;
  border: 0.1rem solid var(--main-bg-color);
}

button:hover {
  background-color: var(--txt-color);
  border-color: var(--txt-color);
  color: var(--second-bg-color);
}

hr {
  border: 0.1rem solid var(--txt-color);
}

.form-inline {
  display: flex;
  flex-direction: row
}

.liveButton {
  background-color: var(--second-bg-color);
  border-color: var(--txt-color);
  color: var(--txt-color);
  padding: clamp(0.5rem, 1.5vw, 2.5rem);
  margin: auto;
  max-width: clamp(8.2rem, 15vw, 20rem);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: clamp(1rem, 1.5vw, 2rem);
  border-radius: 0.8rem;
  transition-duration: 0.4s;
  float: center;
  border: 0.1rem solid var(--main-bg-color);
}

.liveButton:hover {
  background-color: var(--txt-color);
  border-color: var(--txt-color);
  color: var(--second-bg-color);
}

label {
  font-size: clamp(1rem, 3vw, 4rem);
  padding: clamp(0.5rem, 1vw, 2rem);
  display: inline-block;
  color: var(--txt-color);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 1.2rem 2.0rem;
  margin: 0.8rem 0;
  box-sizing: border-box;
  border: 0.2rem solid var(--txt-color);
  border-radius: 0.4rem;
}

input[type=button], input[type=submit] {
  text-align: center;
  display: inline-block;
  font-size: clamp(1rem, 3vw, 4rem);
  background-color: var(--second-bg-color);
  border: solid;
  border-width: 0.1rem;
  color: var(--txt-color);
  padding: clamp(1rem, 2.5vw, 3rem);
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  border-radius: 0.8rem;
  transition-duration: 0.4s;
  width: 100%;
  float: center;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: var(--txt-color);
  color: var(--second-bg-color);
}

.lAside {
  min-height: 100%;
  max-width: 100%;
  padding: 1.5rem;
  margin: 1.5rem;
  float: left;
  background-color: var(--second-bg-color);
  overflow: auto;
}

.rAside {
  min-height: 100%;
  max-width: 100%;
  padding: 1.5rem;
  margin: 1.5rem;
  float: right;
  background-color: var(--second-bg-color);
  overflow: auto;
}

@media only screen and (max-width: 768px) {    
  .lAside, .rAside {
    float: none;
    max-width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 1.5rem;
  overflow: scroll;
}

video {
  width: 50%;
}

@media only screen and (max-width: 768px) {    
  video {
    width: 100%;
  }
}

dialog {
  padding: 0.6rem;
  border: 0;
  border-radius: 0.6rem;
  background-color: var(--second-bg-color);
  box-shadow: 0 0 1em var(--txt-color);
}

dialog:backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
}

ul li {
  margin: clamp(0rem, 0.2vw, 0.5rem);
  display: inline;
}

a {
  color: var(--txt-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-bg-color);
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
  color: var(--txt-color);
}

@media only screen and (max-width: 768px) {    
  .container {
    width: 100%;
    flex-direction: row;
  }
}

h1 {
  color: var(--txt-color);
  text-align: center;
  display: block;
  font-size: clamp(2rem, 3vw, 3.5rem);
  margin: 0.67em, 0;
  font-weight: bold;
}

.large-pre {
  display: block;
  font-size: clamp(1rem, 2vw, 2.5rem);
  padding: clamp(0.5rem, 0.7vw, 1rem);
  margin: clamp(0.5rem, 0.7vw, 1rem);
  font-weight: bold;
}

p {
  color: var(--txt-color);
  display: block;
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin: clamp(0.5rem, 1vw, 1.7rem);
}

form {
  background-color: var(--second-bg-color);
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2rem;
}

label {
  display: block;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  max-height: 10rem;
  background-color: var(--second-bg-color);
  color: var(--txt-color);
  text-align: center;
}

pre {
  display: block;
  color: var(--txt-color);
  font-family: monospace;
  white-space: pre;
  padding: 1em;
  margin: 1em 0;
}
